body {
    background-color:rgb(211,211,211);
}

.parentDiv{
    height: 130px;
    width: 350px;
}

.button {
    width: 80px;
    height: 30px;
    color: white;
    background-color: black;
}